.paint-div[data-v-73447f12] {
  height: 652px;
  width: 1252px;
  position: relative;
  border: 1px dashed #4c4a48
}

.draw-canvas[data-v-73447f12] {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0
}

.draw-a[data-v-73447f12] {
  color: #fff;
  background: #4c4a48;
  padding: 2px 16px;
  position: absolute;
  margin-top: 4px;
  top: 100%;
  border-radius: 13px;
  cursor: pointer
}

.active[data-v-73447f12] {
  background: #0078d7
}

.draw-dialog[data-v-5b3c4b10] {
  color: #4c4a48;
  width: 640px;
  background: hsla(0, 0%, 100%, .92);
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px
}

.draw-dialog-center[data-v-5b3c4b10] {
  text-align: center
}

.draw-dialog [data-v-5b3c4b10] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none
}

.draw-dialog-close[data-v-5b3c4b10] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAACXBIWXMAAAsSAAALEgHS3X78AAACQUlEQVRIiaWWzXHiQBBGnynfTQbWRoAcwYoMyMA69XXlCFYh4GufcAY4AuMMIIIVGUAE7GF6RCNGQux2lYrSjIbXP9909cPpdGKsqWoGZG7pICLbsecfbsFUtQBKYAE89Xz2CaxFZPVPMIPUwE+3/A009mT2+P09UInIejRMVWvgt/uD2jw/9Di2ACoH/hCR8iZMVVfAq72+icgyBRiArgjp3gGFd3CSiOgVOAIv94AALH2FgWbAxfk2MqvRl62/3KOyrplqt4QI2+z4yKIXb/8DAhCRhqBegFpVpy3MopoB+3tTNwDcAB+E6CqAR9urohepg6p6IlFw21sR6jw3gLel7ZVAHdNY2G/yfnAu+CampAM6Eu7ehVk59sCzqmaPqppbqN9998ic2Thg4bw+WsRXMBfALyCfANHTXlGYE4WLsOmAhgQVA8gnicVbwCPnHrkYodx238OmiQ+7tuSyGS99DXssT8HyxIetdcQwp0c0A9ZMnFx7YR1QYWeKkcB4ubcxsk/gyRppyq7EkBDNlbPWtmbAUURaWLxfVfeA2RzIu2JwwDlpNZf2u4LLRnwgFD/VCe42i+qPvf4QkcYLJEa1HlnwIdCUc7be44VvYTY/fBKiG6uwPtCSUKsdrt9OOt+WnAu+tbZ0DygjtLUoqIVvgamxIKagnSeAeqD3RUhJKEUcCRbdM0PTVUVIQewYO/O6ISgvs6fgcsJ6N+eu2t/g3GhRVub1c++HIWVrbmTg5pDqwDnh4mZu+QBsxo4RfwFTcyPEg1ECZgAAAABJRU5ErkJggg==) 50% no-repeat;
  position: absolute;
  width: 27px;
  height: 27px;
  right: 12px;
  top: 10px;
  cursor: pointer
}

.draw-dialog-title[data-v-5b3c4b10] {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 20px
}

.draw-dialog-content[data-v-5b3c4b10] {
  width: 440px;
  margin: 30px auto auto;
  position: relative
}

.draw-dialog-bottom[data-v-5b3c4b10] {
  text-align: center;
  padding-bottom: 30px;
  margin-top: 20px
}

.draw-dialog-btn[data-v-5b3c4b10] {
  width: 140px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  cursor: pointer
}

.draw-dialog-btn+button[data-v-5b3c4b10] {
  margin-left: 10px
}

.draw-dialog-btn__primary[data-v-5b3c4b10] {
  background: #0078d7
}

.draw-dialog-btn__gray[data-v-5b3c4b10] {
  background: #4c4a48
}

.draw-dialog-btn__sub[data-v-5b3c4b10] {
  background: #ea005e
}

.draw-dialog-btn__green[data-v-5b3c4b10] {
  background: #107c10
}

.draw-dialog-btn[data-v-5b3c4b10]:disabled {
  opacity: .6
}

.draw-dialog-ul[data-v-5b3c4b10] {
  margin-top: 10px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: auto
}

.draw-dialog-ul li[data-v-5b3c4b10] {
  padding: 0 15px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 10px
}

.draw-dialog-ul .active[data-v-5b3c4b10] {
  border: 1px solid #0078d7
}

.draw-dialog-desc[data-v-5b3c4b10] {
  margin: auto;
  width: 480px
}

.draw-dialog-canvas[data-v-5b3c4b10] {
  margin: auto;
  width: 1252px
}

.draw-dialog-end[data-v-5b3c4b10] {
  text-align: center;
  font-size: 16px
}

.draw-dialog-end img[data-v-5b3c4b10] {
  width: 60%;
  display: block;
  margin: 10px auto 0
}

.draw-dialog-main[data-v-5b3c4b10] {
  width: 840px;
  margin: auto
}

.draw-dialog-draw[data-v-5b3c4b10] {
  width: 1300px;
  height: 800px
}

.draw-dialog-history[data-v-5b3c4b10] {
  width: 700px;
  margin: auto
}

.draw-dialog-records[data-v-5b3c4b10] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 270px;
  overflow: auto
}

.draw-dialog-records li[data-v-5b3c4b10] {
  -ms-flex-preferred-size: 160px;
  flex-basis: 160px;
  margin-right: 15px;
  margin-top: 10px
}

.draw-dialog-records img[data-v-5b3c4b10] {
  width: 100%;
  display: block
}

.draw-dialog-records-word[data-v-5b3c4b10] {
  background: #c1c1c1;
  font-size: 12px;
  text-align: center;
  padding: 4px
}

li[data-v-5b3c4b10],
ul[data-v-5b3c4b10] {
  margin: 0;
  padding: 0;
  list-style: none
}